/* General Styling */
        body {
            background-color: #f8f5f0;
            color: #7d6652;    
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Libre Baskerville', serif;
        }

        p {
            font-family: 'PT Sans', sans-serif;
        }

/* Button Styling */
        .btn-custom {
            background-color: #7d6652;
            color: white;
            border-radius: 5vw;
            padding: 1% 4%;
        }

        .btn-outline-custom {
            background-color:#f8f5f0;
            border: 0.1vw solid #7d6652;
            color: #7d6652;
            border-radius: 5vw;
            padding: 1% 4%;
        }
        .btn-edit {
                font-family: 'PT Sans', sans-serif;
                padding: 0.4vw 1.5vw;
        }

         .save-button button {
                padding: 0.5vw 2vw; 
                font-family: 'Libre Baskerville', serif;
        }

/* Navbar */
        nav .nav-link {
            color: #7d6652;
        }
        
        nav .nav-link:hover {
            color: #000000; 
            text-decoration: underline;
        }

        nav .btn-outline-dark {
            border-color: #7d6652;
            color: #7d6652;
        }

        nav .btn-outline-dark:hover {
            background-color: #7d6652;
            color: white;
        }

/* Home Page */
        .content {
            padding: 5vw;
        }
        video {
            border-radius: 3vw; 
        }

/* Profile Page */
        .profile-header {
            background-color: #ffffff;
            padding: .75vw;
            text-align: center;
            border-radius: 1vw;
            font-family: 'Libre Baskerville', serif;
            border: 0.1vw solid #7d6652;
        }
        .card {
            border: 0.1vw solid #7d6652;
            background: #fff;
            border-radius: 1vw;
            padding: 2vw;
            color: #7d6652;
        }


    /* Profile Image */
        .profile-image {
            width: 12vw; 
            height: 12vw; 
            border-radius: 50%;  
        }

    /* Accordion */
        .accordion-body p {
            color: #7d6652;
        }

        .accordion-button {
            background-color: #f5f5f5;
            color: #6f4f1f;
        }

        .accordion-button:not(.collapsed) {
            background-color: #f8f5f0;
            color: #6f4f1f;
        }
        
    /*Save Button*/

        .save-button {
            text-align: center;
            margin: 5vw 0;
        }

        .save-button button {
            background-color: #24A0ED; 
            color: white;
            border: none;
            border-radius: 5vw;
            padding: 1vw 4vw;
        }

    /* Hover effect on save button */
        .save-button button:hover {
            background-color: #7d6652;
        }

/*Filter*/
.section { padding: 20px 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #7d6652;
}

.form-section {
    border: 2px solid #7d6652;
    padding: 20px 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
}

.filter-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    background-color: white;
}

.filter-group {
    width: 45%;
    min-width: 200px;
    border-color: #7d6652;
}
.select-button { 
    background-color: #f8f5f0;
    color: #7d6652;
    border-color: #7d6652;
    border-radius: 30px;
    padding: 10px 20px;}
 
    .dropdown {
        width: 150px;
        background-color: #f8f5f0;
        border: 1px solid #7d6652;
    }

/* job post */
.job-form {
border-top: 1px solid #ccc;
padding: 20px 20px;
margin-bottom: 20px;
width: 100%;
max-width: 800px;
margin-left: auto;
margin-right: auto;
background-color: white;
border: 2px solid #7d6652;
border-radius: 10px;
}

.name-container {
    margin-bottom: 15px;
    display: inline-block;
    min-width: 48.8%;
}

.job-filter-row {
    display: flex;
    margin-bottom: 20px;
}
